<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pushdown Automaton</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/body.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/input.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/aire.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/translations.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/input.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/button.js') }}"></script>
</head>
<body>
    <nav class="navbar">
        <a href="#" class="logo">
            <p id="automaton">Automaton</p>
            <p id="pushdown" class="pila">pushdown</p></a>
        <div class="nav-links">
            <ul>
                <li id="history"><a href="#">History</a>
                    <ul id="history_list">

                    </ul>
                </li>

                <li id="languages" class="dropdown">
                    <a href="#">Languages</a>
                    <div id="language-dropdown" class="language-dropdown">
                        <ul class="language-list">
                            <li><a href="#" data-lang="en">English</a></li>
                            <li><a href="#" data-lang="es">Spanish</a></li>
                            <li><a href="#" data-lang="jp">Japanese</a></li>
                        </ul>
                    </div>
                </li>                        
            </ul>
        </div>
    </nav>
    <header>
        <div class="content">
            <div class="ouput-values">
                <div class="pila-view">
                    <div class="pilita">
                        
                    </div>
                    <div class="slider">
                        <div class="range">
                            <div class="sliderValue">
                              <span>5</span>
                            </div>
                            <div class="field">
                                <div class="value left">0.25</div>
                                <input
                                type="range"
                                min="1"
                                max="5"
                                value="3"
                                steps="1"
                                id="inputSlider"
                                />
                                <div class="value right">2.0</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graf">
                    <!-- <h3>AQUI VA EL GRAFO</h3> -->
                </div>
            </div>
            <div class="input-values">
                <div class="input-field">
                    <input type="text" id="input-word" required />
                    <label data-translate="word">Validate</label>
                </div>
                <div class="buttondiv">
                    <button
                      type="button"
                      id="add-word"
                      class="button"
                      
                    >
                    Send
                    </button>
                </div>
            </div>
        </div>
    </header>
</body>
</html>